

$color-pink-1: #E50071;
$color-pink-2: #BD0069;
$color-error: #FA5151;

$color-grayscale-black: #040C17;
$color-grayscale-text: #33373C;
$color-grayscale-1: #4A4B4C;
$color-grayscale-2: #7B7D7F;
$color-grayscale-3: #A2A5A8;
$color-grayscale-4: #D6D7D9;
$color-grayscale-5: #EBECED;
$color-grayscale-6: #F7F8F8;

$box-shadow-1: '0px 0px 10px rgba(0, 0, 0, 0.15)';
$box-shadow-2: '0px 7px 10px rgba(0, 0, 0, 0.04)';

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -8px;
}

// .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
//     position: relative;
//     width: 100%;
//     padding-right: 8px;
//     padding-left: 8px;
// }

// .col-lg-4 {
//     flex: 0 0 33.333333%;
//     max-width: 33.333333%;
// }


@keyframes rotating-loader {
    from {
        transform: rotate(0deg);  
    }
    to {
        transform: rotate(360deg)
    }
}

// a {
//     color: $color-pink-1;
//     text-decoration: none;
//     transition: color 0.2s;
//     &:hover {
//         text-decoration: none;
//         color: fade($color-pink-1, 70);
//     }
// }

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px 16px;
    color: #fff;
    border-radius: 0;
    border: none;
    font-size: 16px;
    position: relative;

    @media(max-width: 768px) {
        padding: 14px 20px 13px;
        font-size: 14px;
        line-height: 170%;
    }

    &:after {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center ;
    }
    
    &.btn-primary {
        background-color: $color-pink-1;
        transition: none;
        transition: all 0.2s;
        &:after, &:before {
            transition: all 0.2s;
        }
        
    }
    @media (min-width: 992px) {
        &.btn-primary:hover,  &.btn-secondary:hover{
            color: fade(#fff, 60);
            &:after,
            &:before {
                opacity: 0.6;
            }
        }
    }
    &.loading, &.loading.btn-arrow {
        color: fade(#fff, 60);
        &:after {
            background-image: url('../img/icons/28/icon-loader.png');
            width: 24px;
            height: 24px;
            margin-left: 55px;
            animation: rotating-loader 1.2s linear infinite;
        }
    }
    &.btn-arrow {
        &:after {
            content: '';
            display: flex;
            width: 55px;
            height: 16px;
            background-image: url('../img/icons/28/icon-long-arrow.svg');
            background-position: right;
            margin-left: 24px;

            @media(max-width: 768px) {
                width: 37px;
            }
        }
        &.loading {
            &:before {
                display: none;
            }
            &:after {
                margin-left: 55px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            right: 60px;
            width: 18px;
            height: 2px;
            background: rgba(255, 255, 255, 0.75);
            width: 0;
        }
        @media (min-width: 992px) {
            &:hover {
                &:before {
                    width: 18px;
                }
            }
        }
    }
    &.btn-secondary {
        background-color: $color-grayscale-black;
    }
    &.slider-left, &.slider-right {
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
        &:after {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url('../img/icons/28/icon-arrow-white.svg');
        }
        &:hover {
            background: rgba(0, 0, 0, 0.4);
        }
    }
    &.slider-left {
        &:after {
            transform: rotate(-90deg);
        }
    }

    &.slider-right {
        &:after {
            transform: rotate(90deg);
        }
    }
    &.btn-play {
        justify-content: center;
        align-content: center;
        padding: 0;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-color: #fff;

        @media(max-width: 1024px) {
            width: 80px;
            height: 80px;
        }

        @media(max-width: 768px) {
            width: 60px;
            height: 60px;
        }

        &:after {
            content: '';
            width: 28px;
            height: 28px;
            background-image: url('../img/icons/28/icon-play-black.svg');
            margin-left: 8px;

            @media(max-width: 1024px) {
                width: 22px;
                height: 22px;
            }
            @media(max-width: 768px) {
                width: 18px;
                height: 18px;
                margin-left: 5px;
            }
        }
        // &:hover {
        //     background-color: $color-grayscale-5;
        //     &:after {
        //         background-image: url('../img/icons/28/icon-play-grey.svg');
        //     }
        // }
    }
}

.section-name {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.white {
        .title {
            color: #fff;
        }
        .all-link {
            color: #fff;
            @media(min-width: 992px) {
                & {
                    &:hover {
                        color: rgba(#fff, 0.6);
                    }
                }
            }
        }
    }

    .title {
        font-weight: bold;
        font-size: 42px;
        line-height: 120%;
        color: $color-grayscale-text;

        @media(max-width: 768px) {
            font-size: 24px;
            line-height: 130%;
        }

        @media(max-width: 575px) {
            font-size: 22px;
        }
    }

    .all-link {
        color: $color-pink-1;
        transition: all 0.2s;

        @media(min-width: 992px) {
            &:hover {
                color: rgba($color-pink-1, 0.6);
            }
        }
        @media(max-width: 768px) {
            font-size: 14px;
            line-height: 170%;
        }
        @media(max-width: 575px) {
            display: none;
        }
    }
}


.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    
    .custom-control-input {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }
    .custom-control-label {
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
            font-size: 14px;
        }
        &:hover {
            cursor: pointer;
        }
        &:before {
            content: '';
            width: 24px;
            min-width: 24px;
            height: 24px;
            align-self: flex-start;
            display: inline-block;
            background: #fff;
            margin-right: 14px;
        }

        &:after {
            content: '';
            opacity: 0;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 2px;
            top: 0;
            transition: opacity 0.09s;
            background-image: url('../img/icons/20/icon-checkmark-pink.svg');
        }
    }
    .custom-control-input:checked+.custom-control-label {
        &:after { 
            opacity: 1;
        }
    }
}

.custom-select {
    
    &.opened {
        .jq-selectbox__select {
            &:after {
                transform: rotate(0deg);
                margin-left: 6px;
            }
        }
    }

    .jq-selectbox__select {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 150%;
        color: $color-grayscale-2;
        transition: color 0.2s ease-in-out;
        @media (min-width: 992px) {
            &:hover {
                color: $color-grayscale-1;
                cursor: pointer;
                &:after {
                    background-image: url('../img/icons/12/icon-expand-hover.svg');
                }
            }
        }

        @media(max-width: 768px) {
            font-size: 14px;
        }

        &:after {
            content: '';
            display: block;
            height: 12px;
            width: 12px;
            margin-left: 6px;
            background-image: url('../img/icons/12/icon-expand-default.svg');
            transform: rotate(180deg);
            transition: transform 0.15s ease-in-out;
            
        }
    }
    .jq-selectbox__dropdown {
        // width: 270px !important;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 0;
        margin: 12px 0 0;
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            font-size: 16px;
            line-height: 150%;
            color: $color-grayscale-2;
            padding: 20px 13px;
            transition: all 0.2s ease-in-out;
            @media (min-width: 992px){
                &:hover {
                    background-color: $color-grayscale-6;
                    color: $color-grayscale-1;
                    cursor: pointer;
                }
            }
            &.selected{
                background-color: $color-grayscale-6;
                color: $color-grayscale-1;
                cursor: pointer;
            }
        }
    }
}

.custom-input {
    position: relative;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.005em;
    padding: 22px 23px 0;
    border: 1px solid $color-grayscale-4;
    background: #fff;
    @media (max-width: 768px) {
        padding: 13px 23px 0;
    }
    &.error {
        border: 1px solid $color-error !important;
    }
    
    input {
        color: $color-grayscale-text;
        width: 100%;
        border: none;
        margin-top: 11px;
        padding-bottom: 6px;
        @media (max-width: 768px) {
            font-size: 14px;
        }
        &:focus, &:active  {
            border: none;
            border-radius: 0;
            outline: none;
        }
        &:focus, &.filled {
            &+label {
                top: 6px;
                font-size: 14px;
                @media (max-width: 768px) {
                    top: 4px;
                    font-size: 12px;
                }
            }
        }
        
    }
    label {
        position: absolute;
        display: block;
        top: 17px;
        left: 23px;
        transition: all 0.2s ease-in-out;
        color: $color-grayscale-3;
        @media (max-width: 768px) {
            font-size: 14px;
            top: 13px;
        }
    }
}

.error-message {
    font-size: 14px;
    line-height: 170%;
    color: #FA5151;
}



.ig,.fb,.yt,.in {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ig{background-image: url('../img/icons/20/icon-ig.svg');}
.fb{background-image: url('../img/icons/20/icon-fb.svg');}
.yt{background-image: url('../img/icons/20/icon-yt.svg');}
.in{background-image: url('../img/icons/20/icon-ln.svg');}