// main: template_styles.less

@color-pink-1: #E50071;
@color-pink-2: #BD0069;
@color-error: #FA5151;

@color-grayscale-black: #040C17;
@color-grayscale-text: #33373C;
@color-grayscale-1: #4A4B4C;
@color-grayscale-2: #7B7D7F;
@color-grayscale-3: #A2A5A8;
@color-grayscale-4: #D6D7D9;
@color-grayscale-5: #EBECED;
@color-grayscale-6: #F7F8F8;

@box-shadow-1: '0px 0px 10px rgba(0, 0, 0, 0.15)';
@box-shadow-2: '0px 7px 10px rgba(0, 0, 0, 0.04)';

.btn {
    padding: 20px 24px 16px;
    color: #fff;
    text-align: left;
    .btn-primary {
        background-color: @color-pink-1;
    }
    .btn-secondary {
        background-color: @color-grayscale-black;
    }
    .slider-left, .slider-right {
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
    }
}