// out: ../css/styles.css
@import 'elements.less';


.services {
    padding-top: 80px;
    background-image: url('../img/services-bg.png');
    // background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    .main-title {
        max-width: 1045px;
        width: 100%;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 76px;
        line-height: 110%;
        color: #33373C;
        span {
            color: #E50071;
        }
    }
    .button {
        .btn {
            padding: 20px 24px 16px;
            background-color: #E50071;
        }
    }
}