* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}
@keyframes rotating-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 20px 24px 16px;
  color: #fff;
  border-radius: 0;
  border: none;
  font-size: 16px;
  position: relative;
}
@media (max-width: 768px) {
  .btn {
    padding: 14px 20px 13px;
    font-size: 14px;
    line-height: 170%;
  }
}
.btn:after {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center ;
}
.btn.btn-primary {
  background-color: #E50071;
  transition: none;
  transition: all 0.2s;
}
.btn.btn-primary:after,
.btn.btn-primary:before {
  transition: all 0.2s;
}
@media (min-width: 992px) {
  .btn.btn-primary:hover,
  .btn.btn-secondary:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .btn.btn-primary:hover:after,
  .btn.btn-secondary:hover:after,
  .btn.btn-primary:hover:before,
  .btn.btn-secondary:hover:before {
    opacity: 0.6;
  }
}
.btn.loading,
.btn.loading.btn-arrow {
  color: rgba(255, 255, 255, 0.6);
}
.btn.loading:after,
.btn.loading.btn-arrow:after {
  background-image: url('../img/icons/28/icon-loader.png');
  width: 24px;
  height: 24px;
  margin-left: 55px;
  animation: rotating-loader 1.2s linear infinite;
}
.btn.btn-arrow:after {
  content: '';
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 16px;
  background-image: url('../img/icons/28/icon-long-arrow.svg');
  background-position: right;
  margin-left: 24px;
}
@media (max-width: 768px) {
  .btn.btn-arrow:after {
    width: 37px;
  }
}
.btn.btn-arrow.loading:before {
  display: none;
}
.btn.btn-arrow.loading:after {
  margin-left: 55px;
}
.btn.btn-arrow:before {
  content: '';
  position: absolute;
  right: 60px;
  width: 18px;
  height: 2px;
  background: rgba(255, 255, 255, 0.75);
  width: 0;
}
@media (min-width: 992px) {
  .btn.btn-arrow:hover:before {
    width: 18px;
  }
}
.btn.btn-secondary {
  background-color: #040C17;
}
.btn.slider-left,
.btn.slider-right {
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.btn.slider-left:after,
.btn.slider-right:after {
  content: '';
  width: 24px;
  height: 24px;
  background-image: url('../img/icons/28/icon-arrow-white.svg');
}
.btn.slider-left:hover,
.btn.slider-right:hover {
  background: rgba(0, 0, 0, 0.4);
}
.btn.slider-left:after {
  transform: rotate(-90deg);
}
.btn.slider-right:after {
  transform: rotate(90deg);
}
.btn.btn-play {
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .btn.btn-play {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 768px) {
  .btn.btn-play {
    width: 60px;
    height: 60px;
  }
}
.btn.btn-play:after {
  content: '';
  width: 28px;
  height: 28px;
  background-image: url('../img/icons/28/icon-play-black.svg');
  margin-left: 8px;
}
@media (max-width: 1024px) {
  .btn.btn-play:after {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 768px) {
  .btn.btn-play:after {
    width: 18px;
    height: 18px;
    margin-left: 5px;
  }
}
.section-name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.section-name .title {
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  color: #33373C;
}
@media (max-width: 768px) {
  .section-name .title {
    font-size: 24px;
    line-height: 130%;
  }
}
@media (max-width: 575px) {
  .section-name .title {
    font-size: 22px;
  }
}
.section-name .all-link {
  color: #E50071;
  transition: all 0.2s;
}
@media (min-width: 992px) {
  .section-name .all-link:hover {
    color: rgba(229, 0, 113, 0.6);
  }
}
@media (max-width: 768px) {
  .section-name .all-link {
    font-size: 14px;
    line-height: 170%;
  }
}
@media (max-width: 575px) {
  .section-name .all-link {
    display: none;
  }
}
.custom-checkbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}
.custom-checkbox .custom-control-input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;
}
.custom-checkbox .custom-control-label {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 768px) {
  .custom-checkbox .custom-control-label {
    font-size: 14px;
  }
}
.custom-checkbox .custom-control-label:hover {
  cursor: pointer;
}
.custom-checkbox .custom-control-label:before {
  content: '';
  width: 24px;
  min-width: 24px;
  height: 24px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: inline-block;
  background: #fff;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .custom-checkbox .custom-control-label:before {
    margin-right: 14px;
  }
}
.custom-checkbox .custom-control-label:after {
  content: '';
  opacity: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 0;
  transition: opacity 0.09s;
  background-image: url('../img/icons/20/icon-checkmark-pink.svg');
}
.custom-checkbox .custom-control-input:checked + .custom-control-label:after {
  opacity: 1;
}
.custom-select.opened .jq-selectbox__select:after {
  transform: rotate(0deg);
  margin-left: 6px;
}
.custom-select .jq-selectbox__select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  font-size: 16px;
  line-height: 150%;
  color: #7B7D7F;
  transition: color 0.2s ease-in-out;
}
@media (min-width: 992px) {
  .custom-select .jq-selectbox__select:hover {
    color: #4A4B4C;
    cursor: pointer;
  }
  .custom-select .jq-selectbox__select:hover:after {
    background-image: url('../img/icons/12/icon-expand-hover.svg');
  }
}
.custom-select .jq-selectbox__select:after {
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  margin-left: 6px;
  background-image: url('../img/icons/12/icon-expand-default.svg');
  transform: rotate(180deg);
  transition: transform 0.15s ease-in-out;
}
.custom-select .jq-selectbox__dropdown {
  background: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  padding: 0;
  margin: 12px 0 0;
}
.custom-select .jq-selectbox__dropdown ul {
  padding: 0;
  margin: 0;
}
.custom-select .jq-selectbox__dropdown li {
  font-size: 16px;
  line-height: 150%;
  color: #7B7D7F;
  padding: 20px 13px;
  transition: all 0.2s ease-in-out;
}
@media (min-width: 992px) {
  .custom-select .jq-selectbox__dropdown li:hover {
    background-color: #F7F8F8;
    color: #4A4B4C;
    cursor: pointer;
  }
}
.custom-select .jq-selectbox__dropdown li.selected {
  background-color: #F7F8F8;
  color: #4A4B4C;
  cursor: pointer;
}
.custom-input {
  position: relative;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  padding: 22px 23px 0;
  border: 1px solid #D6D7D9;
  background: #fff;
}
@media (max-width: 768px) {
  .custom-input {
    padding: 13px 23px 0;
  }
}
.custom-input.error {
  border: 1px solid #FA5151 !important;
}
.custom-input input {
  color: #33373C;
  width: 100%;
  border: none;
  margin-top: 11px;
  padding-bottom: 6px;
}
@media (max-width: 768px) {
  .custom-input input {
    font-size: 14px;
  }
}
.custom-input input:focus,
.custom-input input:active {
  border: none;
  border-radius: 0;
  outline: none;
}
.custom-input input:focus + label,
.custom-input input.filled + label {
  top: 6px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .custom-input input:focus + label,
  .custom-input input.filled + label {
    top: 4px;
    font-size: 12px;
  }
}
.custom-input label {
  position: absolute;
  display: block;
  top: 17px;
  left: 23px;
  transition: all 0.2s ease-in-out;
  color: #A2A5A8;
}
@media (max-width: 768px) {
  .custom-input label {
    font-size: 14px;
    top: 13px;
  }
}
.error-message {
  font-size: 14px;
  line-height: 170%;
  color: #FA5151;
}
.ig,
.fb,
.yt,
.in {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.ig {
  background-image: url('../img/icons/20/icon-ig.svg');
}
.fb {
  background-image: url('../img/icons/20/icon-fb.svg');
}
.yt {
  background-image: url('../img/icons/20/icon-yt.svg');
}
.in {
  background-image: url('../img/icons/20/icon-ln.svg');
}
body {
  font-family: 'SuisseIntl';
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  padding-bottom: 100px;
}
body .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 575px) {
  body .container {
    padding: 0 20px;
  }
}
a {
  text-decoration: none;
  outline: 0;
}
a:hover {
  text-decoration: none;
}
.overflow {
  overflow: hidden;
}
.hero {
  position: relative;
  padding: 86px 0 38px;
  background-image: url('../img/services-bg.png');
  background-repeat: no-repeat;
  background-position: 36% -2%;
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 60px;
    background-size: contain;
    background-position: top;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 80px 0 40px;
    background-position: 0% 5%;
  }
}
@media (max-width: 575px) {
  .hero {
    padding-top: 75px;
    background-position: 0% 2%;
  }
}
.hero:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #F7F8F8 0%, rgba(247, 248, 248, 0) 100%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}
.hero .main-title {
  max-width: 1045px;
  width: 100%;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 76px;
  line-height: 110%;
  color: #33373C;
}
.hero .main-title span {
  color: #E50071;
}
@media (max-width: 768px) {
  .hero .main-title {
    max-width: 547px;
    margin-bottom: 20px;
    font-size: 42px;
    line-height: 110%;
  }
}
@media (max-width: 575px) {
  .hero .main-title {
    max-width: 547px;
    margin-bottom: 15px;
    font-size: 32px;
  }
}
.hero .button {
  margin-bottom: 80px;
}
@media (max-width: 1024px) {
  .hero .button {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .hero .button {
    margin-bottom: 40px;
  }
}
.hero .services-section .items {
  margin: 0 -20px;
  padding: 0 5px 0 3px;
}
@media (max-width: 1024px) {
  .hero .services-section .items {
    margin: 0 -15px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .hero .services-section .items {
    margin: 0 -9px;
  }
}
.hero .services-section .items .item-wrap {
  position: relative;
  width: 100%;
  padding: 0 20px;
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
@media (max-width: 1024px) {
  .hero .services-section .items .item-wrap {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .hero .services-section .items .item-wrap {
    margin-bottom: 0;
    padding: 0 9px;
  }
}
@media (max-width: 575px) {
  .hero .services-section .items .item-wrap {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}
.hero .services-section .items .item {
  min-height: 251px;
  padding-top: 17px;
  padding-bottom: 16px;
  border-top: 1px solid #D6D7D9;
}
@media (max-width: 1024px) {
  .hero .services-section .items .item {
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .hero .services-section .items .item {
    padding-bottom: 15px;
  }
}
.hero .services-section .items .item .category {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #7B7D7F;
}
@media (max-width: 768px) {
  .hero .services-section .items .item .category {
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 120%;
  }
}
.hero .services-section .items .item .title {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.005em;
  color: #33373C;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .hero .services-section .items .item .title:hover {
    color: #E50071;
  }
}
@media (max-width: 768px) {
  .hero .services-section .items .item .title {
    max-width: 320px;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 130%;
  }
}
@media (max-width: 575px) {
  .hero .services-section .items .item .title {
    margin-bottom: 0;
  }
}
.hero .services-section .items .item .text {
  color: #4A4B4C;
}
@media (max-width: 768px) {
  .hero .services-section .items .item .text {
    font-size: 14px;
    line-height: 170%;
  }
}
@media (max-width: 575px) {
  .hero .services-section .items .item .text {
    display: none;
  }
}
.hero .services-section .button-wrap {
  margin-top: 20px;
}
@media (max-width: 1024px) {
  .hero .services-section .button-wrap {
    margin-top: 0;
  }
}
.hero .services-section .button-wrap .btn-more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 35px;
  border-top: 1px solid #D6D7D9;
  font-size: 18px;
  line-height: 145%;
  text-align: center;
  letter-spacing: 0.003em;
  color: #7B7D7F;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .hero .services-section .button-wrap .btn-more:hover {
    color: #a2a3a5;
  }
}
@media (max-width: 768px) {
  .hero .services-section .button-wrap .btn-more {
    padding-top: 18px;
    font-size: 14px;
    line-height: 170%;
  }
}
.achievement {
  position: relative;
  width: 100%;
  padding: 102px 0 238px;
  background: #040C17;
}
@media (max-width: 1024px) {
  .achievement {
    padding: 80px 0 305px;
  }
}
@media (max-width: 768px) {
  .achievement {
    padding: 60px 0 205px;
  }
}
@media (max-width: 575px) {
  .achievement {
    padding: 39px 0 105px;
  }
}
.achievement .section-name {
  max-width: 931px;
  margin-bottom: 51px;
}
@media (max-width: 1024px) {
  .achievement .section-name {
    max-width: none;
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .achievement .section-name {
    max-width: 547px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .achievement .section-name {
    max-width: 320px;
  }
}
.achievement .section-name .title {
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  color: #fff;
}
@media (max-width: 768px) {
  .achievement .section-name .title {
    font-size: 24px;
    line-height: 130%;
  }
}
@media (max-width: 575px) {
  .achievement .section-name .title {
    font-size: 22px;
  }
}
.achievement .items {
  margin: 0 -20px;
}
@media (max-width: 1024px) {
  .achievement .items {
    margin: 0 -15px;
  }
}
@media (max-width: 768px) {
  .achievement .items {
    margin: 0 -9px;
  }
}
.achievement .items .item-wrap {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 20px;
  margin-bottom: 62px;
}
@media (max-width: 1230px) {
  .achievement .items .item-wrap {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 1024px) {
  .achievement .items .item-wrap {
    margin-bottom: 40px;
    padding: 0 15px;
  }
}
@media (max-width: 768px) {
  .achievement .items .item-wrap {
    margin-bottom: 15px;
    padding: 0 9px;
  }
}
@media (max-width: 575px) {
  .achievement .items .item-wrap {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}
.achievement .items .item .count {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 2px;
  font-weight: 300;
  font-size: 76px;
  line-height: 99px;
  color: #EB006E;
}
@media (max-width: 768px) {
  .achievement .items .item .count {
    font-size: 34px;
    line-height: 44px;
  }
}
.achievement .items .item .name {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
@media (max-width: 768px) {
  .achievement .items .item .name {
    font-size: 20px;
    line-height: 130%;
  }
}
.achievement .items .item .text {
  color: #A2A5A8;
}
@media (max-width: 768px) {
  .achievement .items .item .text {
    font-size: 14px;
    line-height: 170%;
  }
}
.video-block {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 690px;
  height: 54vw;
  margin-top: -204px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .video-block:hover .video {
    transform: scale(1.1);
  }
  .video-block:hover .btn-play {
    background-color: #EBECED;
  }
  .video-block:hover .btn-play:after {
    background-image: url('../img/icons/28/icon-play-grey.svg');
  }
}
@media (max-width: 1024px) {
  .video-block {
    height: 53vw;
    margin-top: -265px;
  }
}
@media (max-width: 768px) {
  .video-block {
    height: 50.5vw;
    margin-top: -165px;
  }
}
@media (max-width: 575px) {
  .video-block {
    height: 50.5vw;
    margin-top: -95px;
  }
}
.video-block .video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.video-block .btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.projects-section {
  padding-top: 102px;
}
@media (max-width: 1024px) {
  .projects-section {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .projects-section {
    padding-top: 40px;
  }
}
.projects-section .section-name {
  margin-bottom: 28px;
}
@media (max-width: 1024px) {
  .projects-section .section-name {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .projects-section .section-name {
    margin-bottom: 20px;
  }
}
.projects-section .items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
}
@media (max-width: 1024px) {
  .projects-section .items {
    margin: 0 -15px;
  }
}
@media (max-width: 768px) {
  .projects-section .items {
    margin: 0 -9px;
  }
}
.projects-section .items .item-wrap {
  position: relative;
  width: 100%;
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 20px;
  margin-bottom: 59px;
}
@media (max-width: 1024px) {
  .projects-section .items .item-wrap {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .projects-section .items .item-wrap {
    padding: 0 9px;
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .projects-section .items .item-wrap {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
.projects-section .items .item {
  display: block;
  padding-top: 20px;
  border-top: 1px solid #D6D7D9;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .projects-section .items .item {
    padding-top: 15px;
  }
}
.projects-section .items .item:hover {
  border-top-color: #E50071;
}
.projects-section .items .item:hover .img {
  filter: grayscale(0);
  opacity: 1;
}
.projects-section .items .item:hover .text {
  color: #33373C;
}
.projects-section .items .item .img {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 250px;
  height: 80px;
  margin-bottom: 23px;
  filter: grayscale(100%);
  opacity: 0.5;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .projects-section .items .item .img {
    width: 150px;
    height: 40px;
    margin-bottom: 10px;
  }
}
.projects-section .items .item .img img {
  max-width: 100%;
  max-height: 100%;
}
.projects-section .items .item .text {
  position: relative;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.003em;
  color: #4A4B4C;
  transition: all 0.3s;
}
@media (max-width: 768px) {
  .projects-section .items .item .text {
    font-size: 16px;
    line-height: 150%;
  }
}
.projects-section .items .item .text .icon {
  position: absolute;
  bottom: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
  background: url('../img/icons/20/icon-play-black.svg') center no-repeat;
  background-size: contain;
}
.projects-section .button-wrap {
  display: none;
}
@media (max-width: 575px) {
  .projects-section .button-wrap {
    display: block;
  }
}
.projects-section .button-wrap .btn-more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 18px;
  border-top: 1px solid #D6D7D9;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #7B7D7F;
  transition: all 0.3s;
}
.events-section {
  padding: 64px 0 100px;
}
@media (max-width: 1024px) {
  .events-section {
    padding-top: 58px;
  }
}
@media (max-width: 575px) {
  .events-section {
    padding-top: 40px;
  }
}
.events-section .section-name {
  margin-bottom: 60px;
}
@media (max-width: 1024px) {
  .events-section .section-name {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .events-section .section-name {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .events-section .section-name .title {
    font-size: 24px;
    line-height: 130%;
  }
}
.events-section .items {
  width: 100%;
}
.events-section .items .item {
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #D6D7D9;
  padding: 30px 0 31px;
}
@media (max-width: 768px) {
  .events-section .items .item {
    padding: 15px 0;
  }
}
@media (max-width: 575px) {
  .events-section .items .item {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.events-section .items .item .date-block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 75px;
  margin-right: 80px;
  color: #33373C;
}
@media (max-width: 1024px) {
  .events-section .items .item .date-block {
    margin-right: 50px;
  }
}
@media (max-width: 991px) {
  .events-section .items .item .date-block {
    display: none;
  }
}
.events-section .items .item .date-block .month {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.003em;
}
.events-section .items .item .date-block .date {
  margin-top: -7px;
  font-size: 56px;
  line-height: 73px;
}
.events-section .items .item .main-block {
  margin-right: 39px;
}
@media (max-width: 575px) {
  .events-section .items .item .main-block {
    margin-right: 0;
    margin-bottom: 8px;
  }
}
@media (max-width: 1024px) {
  .events-section .items .item .main-block {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .events-section .items .item .main-block {
    margin-right: 18px;
  }
}
.events-section .items .item .main-block .title {
  display: block;
  margin-bottom: 13px;
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  color: #33373C;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .events-section .items .item .main-block .title:hover {
    color: #E50071;
  }
}
@media (max-width: 768px) {
  .events-section .items .item .main-block .title {
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 6px;
  }
}
.events-section .items .item .main-block .desc {
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.003em;
  color: #4A4B4C;
}
@media (max-width: 768px) {
  .events-section .items .item .main-block .desc {
    font-size: 16px;
    line-height: 150%;
  }
}
.events-section .items .item .info-block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 270px;
}
@media (max-width: 768px) {
  .events-section .items .item .info-block {
    width: 217px;
    font-size: 14px;
    line-height: 170%;
  }
}
@media (max-width: 575px) {
  .events-section .items .item .info-block {
    width: 100%;
  }
}
.events-section .items .item .info-block .name {
  margin-bottom: 15px;
  color: #4A4B4C;
}
@media (max-width: 768px) {
  .events-section .items .item .info-block .name {
    margin-bottom: 0;
  }
}
.events-section .items .item .info-block .event-date {
  color: #7B7D7F;
}
.events-section .items .item .info-block .location {
  margin-top: 16px;
  color: #7B7D7F;
}
@media (max-width: 575px) {
  .events-section .items .item .info-block .location {
    margin-top: 2px;
  }
}
.events-section .button-wrap .btn-more {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 40px;
  border-top: 1px solid #D6D7D9;
  color: #7B7D7F;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .events-section .button-wrap .btn-more:hover {
    color: #a2a3a5;
  }
}
@media (max-width: 768px) {
  .events-section .button-wrap .btn-more {
    padding-top: 18px;
    font-size: 14px;
    line-height: 170%;
  }
}
.footer {
  background-color: #040C17;
  color: #fff;
  font-size: 14px;
  padding: 100px 0;
}
@media (max-width: 1240px) {
  .footer {
    padding: 80px 0 ;
  }
}
@media (max-width: 640px) {
  .footer {
    padding: 40px 0;
  }
}
@media (max-width: 1240px) {
  .footer .container {
    padding: 0 40px;
  }
}
.footer .logo {
  display: block;
  width: 237px;
  height: 40px;
  background-image: url('../img/Logo.svg');
  background-size: cover;
  background-position: bottom;
  margin-bottom: 60px;
}
@media (max-width: 1240px) {
  .footer .logo {
    margin-bottom: 40px;
  }
}
@media (max-width: 640px) {
  .footer .logo {
    margin: 0 auto 30px;
  }
}
.footer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0;
}
.footer .row:not(:last-child) {
  padding-bottom: 60px;
  margin-bottom: 22px;
  border-bottom: 1px solid #7B7D7F;
}
@media (max-width: 1240px) {
  .footer .row:not(:last-child) {
    padding-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .footer .row:not(:last-child) {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
@media (max-width: 768px) {
  .footer .row:last-child {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .footer .row:last-child {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
  }
}
.footer .row:last-child .col {
  max-width: 269px;
  color: #7B7D7F;
}
.footer .row:last-child .col:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1240px) {
  .footer .row:last-child .col:not(:last-child) {
    margin-right: 20px;
  }
}
.footer .row:last-child .col:last-child {
  margin-left: auto;
  text-align: right;
}
@media (max-width: 768px) {
  .footer .row:last-child .col:last-child {
    width: 100%;
    margin: 12px 0 0 0;
    text-align: left;
  }
}
.footer .row:last-child .col:last-child .contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media (max-width: 640px) {
  .footer .row:last-child .col:last-child .contacts {
    text-align: center;
  }
}
.footer .row:last-child .col:last-child a {
  color: #7B7D7F;
}
@media (min-width: 992px) {
  .footer .row:last-child .col:last-child a:hover {
    color: #A2A5A8;
  }
}
@media (max-width: 640px) {
  .footer .row:last-child .col:not(:last-child) {
    margin: 0 0 12px;
  }
  .footer .row:last-child .col:last-child {
    margin: 0;
  }
}
.footer .row:last-child .adress {
  max-width: 239px;
}
.footer .title {
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
.footer .col-links {
  display: -ms-flexbox;
  display: flex;
  width: calc(50% + 18px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px 0 -15px -20px;
  -ms-flex: 1;
      flex: 1;
}
@media (max-width: 1240px) {
  .footer .col-links {
    -ms-flex: auto;
        flex: auto;
    margin: -15px;
  }
}
@media (max-width: 992px) {
  .footer .col-links {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 640px) {
  .footer .col-links {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.footer .col-links .col {
  width: calc(50% - 40px);
  min-width: 269px;
  -ms-flex-preferred-size: calc(50% - 40px);
      flex-basis: calc(50% - 40px);
  margin: 15px 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 0;
      flex: 0;
}
@media (max-width: 1240px) {
  .footer .col-links .col {
    min-width: unset;
    margin: 15px;
    width: calc(50% - 34px);
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
@media (max-width: 640px) {
  .footer .col-links .col {
    width: 100%;
    display: block;
    text-align: center;
  }
}
.footer .col-links .title {
  color: #fff;
  margin-bottom: 6px;
}
@media (max-width: 640px) {
  .footer .col-links .title {
    display: block;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .footer .col-links .title:hover {
    color: #A2A5A8;
  }
}
.footer .col-links .item {
  color: #7B7D7F;
}
@media (max-width: 640px) {
  .footer .col-links .item {
    display: inline-block;
    margin-right: 8px;
  }
}
@media (min-width: 992px) {
  .footer .col-links .item:hover {
    color: #A2A5A8;
  }
}
.footer .col-links .item:not(:last-child) {
  margin-bottom: 6px;
}
.footer .col-search {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 0;
      flex: 0;
  margin-left: auto;
}
@media (max-width: 1240px) {
  .footer .col-search {
    -ms-flex: auto;
        flex: auto;
  }
}
@media (max-width: 992px) {
  .footer .col-search {
    width: 100%;
  }
}
.footer .col-search input {
  padding: 19px 24px 17px 24px;
  background: transparent;
  border: 1px solid #7B7D7F;
  color: #fff;
  width: 425px;
  font-size: 14px;
  line-height: 160%;
}
.footer .col-search input:active,
.footer .col-search input:focus {
  border: 1px solid #7B7D7F;
  border-radius: 0;
  outline: none;
}
@media (max-width: 1240px) {
  .footer .col-search input {
    width: 100%;
  }
}
@media (max-width: 1240px) {
  .footer .col-search .wrapper {
    padding-left: 22px;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .footer .col-search .wrapper {
    -ms-flex-direction: row;
        flex-direction: row;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
}
@media (max-width: 640px) {
  .footer .col-search .wrapper {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.footer .col-search .title {
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .footer .col-search .title {
    text-align: center;
  }
}
.footer .col-search .socials .list {
  display: -ms-flexbox;
  display: flex;
}
.footer .col-search .socials .list .item:not(:last-child) {
  margin-right: 41px;
}
@media (max-width: 640px) {
  .footer .col-search .socials {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}
.footer .col-search .search-block {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .footer .col-search .search-block {
    margin: 0;
    width: 50%;
    -ms-flex-order: 1;
        order: 1;
  }
}
@media (max-width: 640px) {
  .footer .col-search .search-block {
    width: 100%;
    -ms-flex-order: -1;
        order: -1;
    margin-bottom: 25px;
  }
}
.footer .col-search .search-input {
  position: relative;
}
.footer .col-search .search-input button {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/20/icon-search-default.svg');
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
  border: none;
  border-left: 1px solid #7B7D7F;
  transition: all 0.2s ease-in-out;
}
.footer .col-search .search-input button:active,
.footer .col-search .search-input button:focus {
  border: none;
  border-left: 1px solid #7B7D7F;
  border-radius: 0;
  outline: none;
}
@media (min-width: 992px) {
  .footer .col-search .search-input button:hover {
    cursor: pointer;
    background: url('../img/icons/20/icon-search-hover.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header {
  position: relative;
  width: 100%;
  padding: 33px 0;
  z-index: 2;
}
@media (max-width: 1240px) {
  .header {
    padding: 28px 40px 36px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 16px 40px;
    margin-bottom: -60px;
  }
}
@media (max-width: 575px) {
  .header {
    padding: 16px 20px;
  }
}
.header.opened {
  background-color: #fff;
}
.header.opened .container .burger {
  background-image: url('../img/icons/28/icon-close-black.svg');
}
.header.opened .mobile-menu {
  display: block;
}
.header .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 1240px) {
  .header .container {
    padding: 0;
  }
}
.header .container .logo {
  display: block;
  width: 165px;
  height: 28px;
  margin-right: 40px;
  background-image: url('../img/Logo-black.svg');
  background-size: cover;
}
@media (max-width: 1240px) {
  .header .container .logo {
    margin-right: 30px;
  }
}
@media (max-width: 1023px) {
  .header .container .logo {
    margin-right: 20px;
    width: 118px;
    height: 20px;
  }
}
.header .container .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 20px;
}
@media (max-width: 1023px) {
  .header .container .links {
    display: none;
  }
}
.header .container .links .link {
  font-size: 18px;
  line-height: 145%;
  letter-spacing: 0.003em;
  color: #33373C;
}
@media (min-width: 992px) {
  .header .container .links .link:hover {
    color: #7B7D7F;
  }
}
.header .container .links .link:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1240px) {
  .header .container .links .link:not(:last-child) {
    margin-right: 30px;
  }
}
.header .container .search {
  width: 34px;
  height: 34px;
  background-image: url('../img/icons/28/icon-search-black.svg');
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  .header .container .search {
    display: none;
  }
}
.header .container .languages {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
@media (max-width: 1023px) {
  .header .container .languages {
    margin-left: 0;
  }
}
.header .container .burger {
  display: none;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-image: url('../img/icons/28/icon-menu-black.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1023px) {
  .header .container .burger {
    display: block;
  }
}
.header .mobile-menu {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: calc(100% - 62px);
  padding: 40px 20px 20px;
  background-color: #fff;
  z-index: 1;
  overflow-y: auto;
}
.header .mobile-menu .links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 38px;
}
.header .mobile-menu .links .link {
  font-size: 16px;
  line-height: 150%;
  color: #33373C;
}
.header .mobile-menu .links .link:not(:last-child) {
  margin-bottom: 20px;
}
.header .mobile-menu .info {
  padding-top: 25px;
  border-top: 1px solid #D6D7D9;
}
.header .mobile-menu .info .item {
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.005em;
  color: #7B7D7F;
}
.header .mobile-menu .info .item:not(:last-child) {
  margin-bottom: 14px;
}
.header .mobile-menu .info .contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.header .mobile-menu .info .contacts a {
  color: #7B7D7F;
}
.contact-us {
  padding: 100px 0;
  background-color: #33373C;
  color: #fff;
}
.contact-us.pink {
  background-color: #BD0069;
}
.contact-us.pink .custom-input {
  background-color: #fff;
}
.contact-us.pink .custom-input input {
  background-color: #fff;
  color: #33373C;
}
.contact-us.pink .btn-primary {
  background: #000;
}
@media (max-width: 1024px) {
  .contact-us {
    padding: 80px 0;
  }
}
@media (max-width: 1024px) {
  .contact-us {
    padding: 40px 0;
  }
}
.contact-us .container {
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 575px) {
  .contact-us .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.contact-us .text-col {
  margin-right: 24px;
}
@media (max-width: 1024px) {
  .contact-us .text-col {
    -ms-flex: 0;
        flex: 0;
    min-width: 49%;
  }
}
@media (max-width: 768px) {
  .contact-us .text-col {
    margin-right: 16px;
  }
}
@media (max-width: 575px) {
  .contact-us .text-col {
    margin: 0 0 20px;
  }
}
.contact-us .form-col {
  -ms-flex: 1;
      flex: 1;
}
.contact-us .title {
  width: 80%;
  font-weight: bold;
  font-size: 42px;
  line-height: 120%;
  margin: 2px 0 20px;
}
@media (max-width: 1024px) {
  .contact-us .title {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-us .title {
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 8px;
  }
}
.contact-us .text {
  width: 80%;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.003em;
}
@media (max-width: 1024px) {
  .contact-us .text {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-us .text {
    font-size: 16px;
    line-height: 150%;
  }
}
.contact-us .input-wrapper {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-us .input-wrapper {
    margin-bottom: 16px;
  }
}
.contact-us .custom-input {
  background: #4A4B4C;
  border: 1px solid transparent;
  color: #A2A5A8;
  margin-bottom: 4px;
}
.contact-us .custom-input input {
  background: #4A4B4C;
  color: #fff;
}
@media (max-width: 768px) {
  .contact-us .custom-input label {
    font-size: 14px;
    top: 13px;
  }
}
.contact-us .custom-input.error + .error-message {
  display: block;
}
.contact-us .custom-checkbox {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .contact-us .custom-checkbox {
    margin-bottom: 15px;
  }
}
.contact-us .btn-primary {
  width: 100%;
  padding: 23px 24px 19px;
}
@media (max-width: 768px) {
  .contact-us .btn-primary {
    padding: 15px 24px 12px;
  }
}
.contact-us .error-message {
  display: none;
}
